{% extends  'IbtikarGlanceDashboardBundle:List:baseList.html.twig' %}


{% block statistic %}
    <span class="label bg-number heading-text"><span class="dev-document-count">{{total}}</span> {% trans from translationDomain %}jobs{% endtrans %}</span>
{% endblock %}

{% block breadCrumb %}
                    <a class="btn btn-link btn-float has-text" href="{{path('ibtikar_glance_ums_job_create')}}"><i class="icon-add"></i><span>إدخال وظيفه</span></a>
                    <a class="btn btn-link btn-float has-text activeLink" href="javascript:void(0)"><i class="icon-table2"></i> <span> الوظائف</span></a>

{% endblock %}
