{% extends  'IbtikarGlanceDashboardBundle:List:baseList.html.twig' %}


{% block statistic %}
    <span class="label bg-number heading-text">{{total}} {% trans from translationDomain %}job{% endtrans %}</span>
{% endblock %}

{% block breadCrumb %}
                    <a class="btn btn-link btn-float has-text" href="{{path('ibtikar_glance_dashboard_job_create')}}"><i class="icon-add"></i><span>اضف وظيفه</span></a>
                    <a class="btn btn-link btn-float has-text activeLink" href="javascript:void(0)"><i class="icon-table2"></i> <span>قائمه الوظايف</span></a>

{% endblock %}
